@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
  background-image: url("mista-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Dancing Script';
}
